.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

p {
  font-family: verdana;
}

a {
  text-decoration: none;
}

.title {
  font-weight: bold;
  font-size: 40px;
  width: 700px;
  line-height: 50px;
  margin: 5px;
  margin-top: 20px;
}

.views {
  font-size: 14px;
  font-style: italic;
  opacity: 0.7;
  margin: 5px;
}

.author {
  font-size: 16px;
  color: gray;
  margin: 5px;
  margin-top: 20px;
}

.discription {
  font-size: 20px;
  width: 700px;
  line-height: 30px;
  color: rgb(95, 94, 94);
  margin-bottom: 50px;
}

.apple-message {
  background-color: rgb(227, 65, 64);
  color: white;
  padding: 30px;
  text-align: center;
  font-size: 18px;
}

.shop-link {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.shop-link:hover {
  text-decoration: underline;
  /* cursor: pointer; */
}

.span-shop {
  font-weight: bold;
  margin-left: 20px;
  color: red;
}

.span-shop:hover {
  color: orange;
  cursor: pointer;
}

.subscribe {
  background: rgb(200, 0, 0);
  color: white;
  border: none;
  height: 36px;
  width: 110px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.15s;
}

.join {
  background: rgb(255, 255, 255);
  color: rgb(4, 68, 163);
  border: 1px solid;
  height: 36px;
  width: 60px;
  border-radius: 3px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 1s, color 0.2s;
}

.tweet {
  background: rgb(59, 196, 250);
  color: white;
  border: none;
  height: 36px;
  width: 70px;
  border-radius: 55px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  transition: box-shadow 0.2s;
}

.effect {
  background-color: rgb(117, 216, 117);
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  align-items: center;
  cursor: pointer;
  /* opacity: 0.8; */
  transition: box-shadow 0.2s, bacground 0.2s, color 0.2s;
}

.effect:hover {
  padding: 10px 20px;
  opacity: 1;
  color: steelblue;
  box-shadow: 5px 5px 10px gray;
}

.subscribe:hover {
  opacity: 0.3;
}

.subscribe:active {
  opacity: 0.8;
}

.join:hover {
  background-color: rgb(16, 104, 235);
  color: white;
}

.join:active {
  opacity: 0.5;
}

.tweet:hover {
  /* opacity: 0.5; */
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.salute {
  margin-top: 50px;
  margin-bottom: 10px;
}

.font-peg {
  font-family: square peg;
  font-size: 50px;
  margin: 20px 0px;
}
